absl-py==0.12.0
astunparse==1.6.3
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.3
Flask==1.1.2
Flask-Cors==3.0.10
flatbuffers==1.12
future==0.16.0
gast==0.3.3
h5py==2.10.0
idna==2.10
importlib-metadata==3.7.2
itsdangerous==1.1.0
Jinja2==2.11.3
Keras==2.4.3
Keras-Preprocessing==1.1.2
Markdown==3.3.4
MarkupSafe==1.1.1
numpy==1.19.5
oauthlib==3.1.0
pathspec==0.5.9
protobuf==3.15.6
requests==2.25.1
rsa==4.7.2
scikit-learn==0.24.1
scipy==1.5.4
semantic-version==2.8.5
six==1.15.0
sklearn==0.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.4.1
